*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: #fff;
    padding: 2rem;
}
.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 3rem;
    margin-top: 5rem;
}
.choice{
    height: 150px;
    width: 150px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.choice img{
    width: 95%;
    height: 95%;
    border-radius: 50%;
    object-fit: cover;
}
.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 5rem;
    font-size: 2rem;
}
#user-score, #computer-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    padding: 1rem;
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    border-radius: 1rem ;
}